.file-input {
  padding: 15px 80px 0px 80px;
}

.button-centre {
  float: right
}

.seperator {
  padding-bottom: 20px;
}

.MainContainer {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.TextViewStyle {
  border-style: solid;
  background-color: #007bff;
  cursor: pointer
}

.TextStyle {
  text-align: center;
  color: #fff;
  font-size:20px;
}